In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option("display.max_rows", None, "display.max_columns", None)

import warnings
warnings.filterwarnings('ignore')

In [2]:
tweets = pd.read_csv('tweets.csv',sep=',',names=['id','topic','tweet','tweet_id'])
# tweets.columns=
# posts.rename(columns={'_id':'post_id', ' title':'title'}, inplace=True)
# posts.content.fillna("General", inplace = True) 
tweets.head()

,id,topic,tweet,tweet_id
0,0,Politics,there are also events being organised where re...,1371132765513478149
1,1,India,the uae had in 2016 created the post of minist...,1371132764955635720
2,2,India,aiadmk releases manifesto for upcoming #tamiln...,1371132734500839427
3,3,Covid 19,#punjab chief secretary vini mahajan on sunday...,1371132599310057481
4,4,Finance,rt : #indvseng\r\n\r\nwhen ishan kishan burst ...,1371132221705261058

In [3]:
news = pd.read_csv('news.csv',sep=',',names=['id','topic','headline','article'])
news.head()

,id,topic,headline,article
0,0,Technology,Porn star jokes she could post nudes on Insta ...,Porn star Kendra Sunderland's Instagram accoun...
1,1,Buisness,Satellite pics show remains of SpaceX's rocket...,Satellite images showed the remains of Elon Mu...
2,2,Politics,Not in favour of recommending such games: Top ...,National Commission for Protection of Child Ri...
3,3,Covid 19,Researchers develop first AI tool to detect CO...,A team of researchers from the University of V...
4,4,Buisness,Virgin Galactic's test space flight cut short ...,Richard Branson's space tourism company Virgin...

In [4]:
print(tweets.shape)
tweets.info()

(203, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        203 non-null    int64
 1   topic     203 non-null    object
 2   tweet     203 non-null    object
 3   tweet_id  203 non-null    int64
dtypes: int64(2), object(2)
memory usage: 6.5+ KB

In [5]:
print(news.shape)
news.info()

(1563, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1563 entries, 0 to 1562
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1563 non-null   int64
 1   topic     1563 non-null   object
 2   headline  1563 non-null   object
 3   article   1563 non-null   object
dtypes: int64(1), object(3)
memory usage: 49.0+ KB

In [6]:
users = pd.read_csv('user.csv', sep=',', names=['user_id','email','name','password','username'])
# users.columns=[]
users.head()

   user_id                   email        name      password    username
0        1  dhayalaraj2k@gmail.com  Dhayalaraj  Dhayalaraj@1  Dhayalaraj
1        2        sriman@gmail.com      Sriman        sriman      Sriman
2        3         anand@gmail.com       Anand         anand       Anand
3        4        lokesh@gmail.com      Lokesh        lokesh      Lokesh
4        5        vishnu@gmail.com      Vishnu        vishnu      Vishnu

In [7]:
print(users.shape)
users.info()

(10, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   10 non-null     int64
 1   email     10 non-null     object
 2   name      10 non-null     object
 3   password  10 non-null     object
 4   username  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

In [8]:
tweet_likes = pd.read_csv('tweet_likes.csv')
tweet_likes.head()

   id  user_id  tweet_id  like
0   0        1         3     1
1   1        1        11     1
2   2        1        24     0
3   3        1        30     1
4   4        1         1     0

In [9]:
news_likes = pd.read_csv('news_likes.csv')
news_likes.head()

   id  user_id  post_id  like
0   0        1        3     1
1   1        1       18     1
2   2        1        2     0
3   3        1       14     0
4   4        1        8     1

In [10]:
tweet_likes

    id  user_id  tweet_id  like
0    0        1         3     1
1    1        1        11     1
2    2        1        24     0
3    3        1        30     1
4    4        1         1     0
5    5        1         2     0
6    6        1         0     1
7    7        1         7     1
8    8        1         4     1
9    9        1         6     0
10  10        1         5     0
11  11        1        14     1
12  12        2         3     0
13  13        2        11     1
14  14        2        24     0
15  15        2        30     1
16  16        2         1     0
17  17        2         2     0
18  18        2         0     0
19  19        2         7     1
20  20        2         5     1
21  21        2        14     1
22  22        3         3     1
23  23        3        11     1
24  24        3         1     1
25  25        3         2     0
26  26        3         0     0
27  27        3         7     1
28  28        4         3     1
29  29        4        11     0
30  30        4         5     0
31  31        4        14     1
32  32        5        24     0
33  33        5        30     1
34  34        5         1     1
35  35        5         2     1
36  36        5         0     0
37  37        5         7     0
38  38        7         1     0
39  39        7         2     0
40  40        7         0     1
41  41        7         7     1
42  42        7         5     1
43  43        7        14     1
44  44        8         3     1
45  45        8        11     0
46  46        8        24     1
47  47        8        30     0
48  48        8         5     1
49  49        8        14     0
50  50        9         4     1
51  51        9         6     0
52  52        9         2     0
53  53        9         1     0
54  54        9         5     1
55  55        9        14     1
56  56        9         0     1
57  57        9         7     1
58  58        9         3     1
59  59        9        11     1
60  60        9        24     1
61  61        9        30     0
62  62       10         0     0
63  63       10         1     0
64  64       10         2     1
65  65       10         3     0
66  66       10         4     1
67  67       10         5     0
68  68       10         6     1
69  69       10         7     0
70  70       10        11     1
71  71       10        14     0
72  72       10        24     1
73  73       10        30     0

In [11]:
print(tweet_likes.shape)
tweet_likes.info()

(74, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        74 non-null     int64
 1   user_id   74 non-null     int64
 2   tweet_id  74 non-null     int64
 3   like      74 non-null     int64
dtypes: int64(4)
memory usage: 2.4 KB

In [12]:
print(news_likes.shape)
news_likes.info()

(80, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       80 non-null     int64
 1   user_id  80 non-null     int64
 2   post_id  80 non-null     int64
 3   like     80 non-null     int64
dtypes: int64(4)
memory usage: 2.6 KB

In [13]:
df_tweets = tweet_likes.merge(tweets, on='id', how='left')
df_tweets.head()

,id,user_id,tweet_id_x,like,topic,tweet,tweet_id_y
0,0,1,3,1,Politics,there are also events being organised where re...,1371132765513478149
1,1,1,11,1,India,the uae had in 2016 created the post of minist...,1371132764955635720
2,2,1,24,0,India,aiadmk releases manifesto for upcoming #tamiln...,1371132734500839427
3,3,1,30,1,Covid 19,#punjab chief secretary vini mahajan on sunday...,1371132599310057481
4,4,1,1,0,Finance,rt : #indvseng\r\n\r\nwhen ishan kishan burst ...,1371132221705261058

In [14]:
df_news = news_likes.merge(news, on='id', how='left')
df_news.head()

,id,user_id,post_id,like,topic,headline,article
0,0,1,3,1,Technology,Porn star jokes she could post nudes on Insta ...,Porn star Kendra Sunderland's Instagram accoun...
1,1,1,18,1,Buisness,Satellite pics show remains of SpaceX's rocket...,Satellite images showed the remains of Elon Mu...
2,2,1,2,0,Politics,Not in favour of recommending such games: Top ...,National Commission for Protection of Child Ri...
3,3,1,14,0,Covid 19,Researchers develop first AI tool to detect CO...,A team of researchers from the University of V...
4,4,1,8,1,Buisness,Virgin Galactic's test space flight cut short ...,Richard Branson's space tourism company Virgin...

In [15]:
df_tweets = df_tweets.merge(users, on='user_id', how='left')
df_tweets.head()

,id,user_id,tweet_id_x,like,topic,tweet,tweet_id_y,email,name,password,username
0,0,1,3,1,Politics,there are also events being organised where re...,1371132765513478149,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj
1,1,1,11,1,India,the uae had in 2016 created the post of minist...,1371132764955635720,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj
2,2,1,24,0,India,aiadmk releases manifesto for upcoming #tamiln...,1371132734500839427,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj
3,3,1,30,1,Covid 19,#punjab chief secretary vini mahajan on sunday...,1371132599310057481,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj
4,4,1,1,0,Finance,rt : #indvseng\r\n\r\nwhen ishan kishan burst ...,1371132221705261058,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj

In [16]:
df_news = df_news.merge(users, on='user_id', how='left')
df_news.head()

,id,user_id,post_id,like,topic,headline,article,email,name,password,username
0,0,1,3,1,Technology,Porn star jokes she could post nudes on Insta ...,Porn star Kendra Sunderland's Instagram accoun...,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj
1,1,1,18,1,Buisness,Satellite pics show remains of SpaceX's rocket...,Satellite images showed the remains of Elon Mu...,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj
2,2,1,2,0,Politics,Not in favour of recommending such games: Top ...,National Commission for Protection of Child Ri...,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj
3,3,1,14,0,Covid 19,Researchers develop first AI tool to detect CO...,A team of researchers from the University of V...,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj
4,4,1,8,1,Buisness,Virgin Galactic's test space flight cut short ...,Richard Branson's space tourism company Virgin...,dhayalaraj2k@gmail.com,Dhayalaraj,Dhayalaraj@1,Dhayalaraj

In [17]:
df_tweets.topic.value_counts()

India       29
Finance     20
Politics    11
Covid 19     6
Election     5
Vaccine      3
Name: topic, dtype: int64

In [18]:
df_news.topic.value_counts()

Sports           21
Buisness         17
Technology       17
Politics         15
Covid 19          7
Entertainment     3
Name: topic, dtype: int64

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [20]:
tf_tweets = TfidfVectorizer(analyzer='word', sublinear_tf=True, ngram_range=(1, 3), min_df=0, stop_words='english')
tfidf_matrix_tweets = tf_tweets.fit_transform(tweets['topic'])
tfidf_matrix_tweets.shape

(203, 8)

In [21]:
tf_news = TfidfVectorizer(analyzer='word', sublinear_tf=True, ngram_range=(1, 3), min_df=0, stop_words='english')
tfidf_matrix_news = tf_news.fit_transform(news['topic'])
tfidf_matrix_news.shape

(1563, 8)

In [22]:
tf_tweets.get_feature_names()[:-30:-1]

['vaccine',
 'politics',
 'india',
 'finance',
 'election',
 'covid 19',
 'covid',
 '19']

In [23]:
tf_news.get_feature_names()[:-30:-1]

['technology',
 'sports',
 'politics',
 'entertainment',
 'covid 19',
 'covid',
 'buisness',
 '19']

In [24]:
cosine_similarities_tweets = linear_kernel(tfidf_matrix_tweets, tfidf_matrix_tweets)
cosine_similarities_tweets[0]

array([1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0.])

In [25]:
cosine_similarities_news = linear_kernel(tfidf_matrix_news, tfidf_matrix_news)
cosine_similarities_news[0]

array([1., 0., 0., ..., 1., 0., 0.])

In [26]:
tweetid = tweets['id']
tweet_indices = pd.Series(tweets.index, index=tweets['id'])
tweet_indices.head()

id
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [27]:
newsid = news['id']
news_indices = pd.Series(news.index, index=news['id'])
news_indices.head()

id
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [28]:
def tweet_item(id):
    return tweets.loc[tweets['id'] == id]['topic'].tolist()[0]
def news_item(id):
    return news.loc[news['id'] == id]['topic'].tolist()[0]

In [29]:
def get_tweet_recommendations(postid, num, indices):
    indx = indices[postid]
    sim_scores = list(enumerate(cosine_similarities_tweets[indx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:num+1]
    print(sim_scores)
    indices = [i[0] for i in sim_scores]
    print("Recommending " + str(num) + " posts similar to \"" + tweet_item(postid) + "\" ...")
    return tweets.iloc[indices]

In [30]:
def get_news_recommendations(postid, num, indices):
    indx = indices[postid]
    sim_scores = list(enumerate(cosine_similarities_news[indx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:num+1]
    print(sim_scores)
    indices = [i[0] for i in sim_scores]
    print("Recommending " + str(num) + " posts similar to \"" + news_item(postid) + "\" ...")
    return news.iloc[indices]

In [32]:
get_tweet_recommendations(2, 3, tweet_indices)

[(2, 1.0), (13, 1.0), (15, 1.0)]
Recommending 3 posts similar to "India" ...

,id,topic,tweet,tweet_id
2,2,India,aiadmk releases manifesto for upcoming #tamiln...,1371132734500839427
13,13,India,bjp bengal in-charge kailash vijayvargiya slam...,1371130091862777856
15,15,India,battleground bengal: bjp announces candidates ...,1371129691403264003

In [33]:
get_news_recommendations(5, 4, news_indices)

[(5, 1.0), (6, 1.0), (7, 1.0), (9, 1.0)]
Recommending 4 posts similar to "Technology" ...

,id,topic,headline,article
5,5,Technology,"Apple shuts Music Memos app, asks users to exp...",Apple has announced that it's discontinuing it...
6,6,Technology,28% Indians hide real identities on social med...,Global cybersecurity firm Kaspersky in its rep...
7,7,Technology,"Malware campaign adding extensions in Chrome, ...","Google Chrome, Firefox and other browsers are ..."
9,9,Technology,Twitter acquires screen-sharing social app Squad,Twitter has acquired the screen-sharing social...

In [34]:
get_tweet_recommendations(4, 7, tweet_indices)

[(6, 1.0), (8, 1.0), (9, 1.0), (16, 1.0), (26, 1.0), (29, 1.0), (37, 1.0)]
Recommending 7 posts similar to "Finance" ...

,id,topic,tweet,tweet_id
6,6,Finance,rt : #indveng only former australian captain ...,1371132100347269121
8,8,Finance,terrorist killed in encounter in jamp;k's shop...,1371131718132895750
9,9,Finance,pakistani drone spotted in punjab's bamial ret...,1371131589187440643
16,16,Finance,rt : for brazilian player laura pigossi clinch...,1371129689989783553
26,26,Finance,rt : #indveng four virat kohli is looking to ...,1371127677185257478
29,29,Finance,rt : england have included all-rounder tom cur...,1371127322112266250
37,37,Finance,#ieopinion using sustainable fuel energy effic...,1371126477937283077

In [35]:
get_news_recommendations(2, 6, news_indices)

[(14, 1.0), (20, 1.0), (27, 1.0), (51, 1.0), (55, 1.0), (56, 1.0)]
Recommending 6 posts similar to "Politics" ...

,id,topic,headline,article
14,14,Politics,K'taka govt to provide protection to iPhone pl...,Karnataka Minister for Large and Medium Scale ...
20,20,Politics,Oracle moves headquarters from Silicon Valley ...,Oracle has moved its headquarters from Silicon...
27,27,Politics,Kohli's first Audi that he sold in 2016 lying ...,Team India captain Virat Kohli's first Audi su...
51,51,Politics,Mahatma Gandhi's statue outside Indian Embassy...,The statue of Mahatma Gandhi outside Indian Em...
55,55,Politics,400 students missing after bandits armed with ...,Hundreds of students are missing after bandits...
56,56,Politics,Fear of contracting COVID-19 led to Lanka pris...,A Sri Lankan probe panel has concluded that th...

In [36]:
tweets.head()

,id,topic,tweet,tweet_id
0,0,Politics,there are also events being organised where re...,1371132765513478149
1,1,India,the uae had in 2016 created the post of minist...,1371132764955635720
2,2,India,aiadmk releases manifesto for upcoming #tamiln...,1371132734500839427
3,3,Covid 19,#punjab chief secretary vini mahajan on sunday...,1371132599310057481
4,4,Finance,rt : #indvseng\r\n\r\nwhen ishan kishan burst ...,1371132221705261058

In [37]:
tweets['mix'] = tweets['tweet'] + " " + tweets['topic']
tweets.head()

,id,topic,tweet,tweet_id,mix
0,0,Politics,there are also events being organised where re...,1371132765513478149,there are also events being organised where re...
1,1,India,the uae had in 2016 created the post of minist...,1371132764955635720,the uae had in 2016 created the post of minist...
2,2,India,aiadmk releases manifesto for upcoming #tamiln...,1371132734500839427,aiadmk releases manifesto for upcoming #tamiln...
3,3,Covid 19,#punjab chief secretary vini mahajan on sunday...,1371132599310057481,#punjab chief secretary vini mahajan on sunday...
4,4,Finance,rt : #indvseng\r\n\r\nwhen ishan kishan burst ...,1371132221705261058,rt : #indvseng\r\n\r\nwhen ishan kishan burst ...

In [38]:
news['mix'] = news['article'] + " " + news['topic']
news.head()

,id,topic,headline,article,mix
0,0,Technology,Porn star jokes she could post nudes on Insta ...,Porn star Kendra Sunderland's Instagram accoun...,Porn star Kendra Sunderland's Instagram accoun...
1,1,Buisness,Satellite pics show remains of SpaceX's rocket...,Satellite images showed the remains of Elon Mu...,Satellite images showed the remains of Elon Mu...
2,2,Politics,Not in favour of recommending such games: Top ...,National Commission for Protection of Child Ri...,National Commission for Protection of Child Ri...
3,3,Covid 19,Researchers develop first AI tool to detect CO...,A team of researchers from the University of V...,A team of researchers from the University of V...
4,4,Buisness,Virgin Galactic's test space flight cut short ...,Richard Branson's space tourism company Virgin...,Richard Branson's space tourism company Virgin...

In [39]:
tf_tweets = TfidfVectorizer(analyzer='word', sublinear_tf=True, ngram_range=(1, 8), min_df=0, stop_words='english')
tfidf_matrix_tweets = tf_tweets.fit_transform(tweets['mix'])
tfidf_matrix_tweets.shape

(203, 17059)

In [40]:
tf_news = TfidfVectorizer(analyzer='word', sublinear_tf=True, ngram_range=(1, 8), min_df=0, stop_words='english')
tfidf_matrix_news = tf_tweets.fit_transform(news['mix'])
tfidf_matrix_news.shape

(1563, 157834)

In [41]:
cosine_similarities_tweets = linear_kernel(tfidf_matrix_tweets, tfidf_matrix_tweets)
cosine_similarities_tweets[0]

array([1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00269281, 0.        , 0.        ,
       0.00210056, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.0088394 , 0.00283264, 0.0026398 ,
       0.        , 0.        , 0.        , 0.00314109, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00298979, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00647053, 0.00239632,
       0.        , 0.        , 0.        , 0.        , 0.00224787,
       0.00269125, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00410172,
       0.        , 0.        , 0.00248369, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00257911, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00251633, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01235173, 0.        , 0.        , 0.        ,
       0.        , 0.0022319 , 0.        , 0.00376525, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00381867, 0.00291718, 0.        , 0.00361017, 0.00317194,
       0.        , 0.00238317, 0.        , 0.        , 0.        ,
       0.        , 0.003351  , 0.        , 0.        , 0.        ,
       0.        , 0.01024001, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.0175046 , 0.        , 0.        ,
       0.00332626, 0.00332878, 0.        , 0.0033346 , 0.        ,
       0.        , 0.        , 0.00272236, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00265366, 0.        , 0.        ,
       0.        , 0.        , 0.00283153, 0.00312717, 0.        ,
       0.        , 0.01892684, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00355245, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00251669,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00261707, 0.00299084, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01411141, 0.        , 0.00243668, 0.        , 0.00250588,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00351415, 0.        , 0.        , 0.00271918,
       0.00349067, 0.        , 0.        ])

In [42]:
cosine_similarities_newss = linear_kernel(tfidf_matrix_news, tfidf_matrix_news)
cosine_similarities_news[0]

array([1., 0., 0., ..., 1., 0., 0.])

In [43]:
postid = tweets['id']
tweet_indices = pd.Series(tweets.index, index=tweets['id'])
tweet_indices.head()

id
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [44]:
postid = news['id']
news_indices = pd.Series(news.index, index=news['id'])
news_indices.head()

id
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [45]:
get_tweet_recommendations(5, 3, tweet_indices)

[(11, 0.12002190951147645), (12, 0.03612931290944911), (33, 0.026318895616060947)]
Recommending 3 posts similar to "Vaccine" ...

,id,topic,tweet,tweet_id,mix
11,11,Covid 19,complete lack of adherence to covid appropriat...,1371131251113926660,complete lack of adherence to covid appropriat...
12,12,Covid 19,india has registered over 25000 cases in the l...,1371130574874677249,india has registered over 25000 cases in the l...
33,33,Election,it has now been proved that the 'eyewitnesses'...,1371126932373303296,it has now been proved that the 'eyewitnesses'...

In [46]:
get_news_recommendations(5, 3, news_indices)

[(5, 1.0), (6, 1.0), (7, 1.0)]
Recommending 3 posts similar to "Technology" ...

,id,topic,headline,article,mix
5,5,Technology,"Apple shuts Music Memos app, asks users to exp...",Apple has announced that it's discontinuing it...,Apple has announced that it's discontinuing it...
6,6,Technology,28% Indians hide real identities on social med...,Global cybersecurity firm Kaspersky in its rep...,Global cybersecurity firm Kaspersky in its rep...
7,7,Technology,"Malware campaign adding extensions in Chrome, ...","Google Chrome, Firefox and other browsers are ...","Google Chrome, Firefox and other browsers are ..."